# Devbox Python version. Examples: 3.11, 3.12, 3.13
PYTHON_VERSION=3.11

# Project path (relative to the devbox/ directory)
# This might be useful if scripts within devbox need to reference the project root.
PROJECT_PATH=../
